# Stages of pipeline, should match with stage tag inside each job.
# Each stages executes in sequence, if previous job fails, then all the preceeding jobs
# are skipped.
stages:
 - mavenbuild
 - maventest
 - autodeploy
 - androidbuild
 - androidtest

# tags: "shell" should match with the tag name provided to runner, for spring runner
# should execute in shell.
# Notice that in petclinic project, the spring project is in root of master, if yours is in
# folder then cd to that folder.
# maven -B means batch mode (i.e. not interactive)
maven-build:
 stage: mavenbuild
 tags:
 - springboot_runner
 script:
 - cd BackEnd/springboot_backend/
 - mvn package -B

# artifacts are created when job executes successfully, and can be manually
# downloaded from GitLab GUI.
# artifacts are not mandatory, but it is good practice, in case auto deploy fails, you
# can manually download the jar.
maven-test:
 stage: maventest
 tags:
 - shell
 script:
 - cd Spring
 - mvn test
 artifacts:
  paths:
  - Spring/target/*.jar

# Below stage builds, deploys and executes the jar as service.
# Make sure there is /target directory in your server, else script will fail, or use any
# other folder you like.
# If you are changing the folder, reflect the change in systemd-web-demo service
autoDeploy:
 stage: autodeploy
 tags:
 - shell
 script:
 - cd Spring
 - mvn package
 - sudo mv target/*.jar /target/web-demo.jar
 - sudo systemctl stop web-demo
 - sudo systemctl start web-demo

# To build android projects
# Notice that we cd into Android_test folder which contains all Android files before
# building apk.
# Begin step 5 (android runner) script here.



#pickup step 7
autoDeploy:
 stage: autodeploy
 tags:
 - springboot-runner
 only: # Will only run if these conditions are met, check documentation for more!
  refs:
  - master
  variables:
  - $CI_COMMIT_MESSAGE =~ /autodeploy/
 script:
 - cd BackEnd/springboot_backend/
 - mvn package
 - sudo mv target/*.jar /target/web-demo.jar
 - sudo systemctl stop web-demo
 - sudo systemctl start web-demo
